In [26]:
import numpy as np
def printx(x,y):
    if x=='normal':
        return(y)
    elif x =='normalized':
        return(y)
    elif x =='log':
        return(np.log(y))
    elif x =='loglog':
        return(np.log(np.log(y)))

In [32]:
y=8
for i in ['normal', 'normalized', 'log', 'loglog']:
    print(printx(i,y))

8
8
2.0794415416798357
0.7320993680864453

In [35]:
f= open("test.txt","w+")
for i in ['normal', 'normalized', 'log', 'loglog']:
    f.write(str(printx(i,y)))
    f.write('\n --------------------- \n')

In [36]:
f.close()

In [39]:
from pandas import DataFrame
from scipy import stats
import pandas as pd
import numpy as np
from pandas import read_csv
from pandas import datetime
#preprocess
from sklearn.preprocessing import scale
from sklearn.preprocessing import MinMaxScaler

def parser(x):
	return datetime.strptime(x, '%Y-%m-%d')
filename='433440-99999-merge.csv'
#filename='india_all_stations_comma.txt'
series = read_csv( filename, header=0, parse_dates=[0], index_col=0, squeeze=True, date_parser=parser)
series=series.dropna(axis=0)

In [40]:
print(series.head())
# prepare data for normalization
values = series.values
values = values.reshape((len(values), 1))
# train the normalization
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(values)
print('Min: %f, Max: %f' % (scaler.data_min_, scaler.data_max_))
# normalize the dataset and print the first 5 rows
normalized = scaler.transform(values)
for i in range(5):
	print(normalized[i])
# inverse transform and print the first 5 rows
inversed = scaler.inverse_transform(normalized)
for i in range(5):
	print(inversed[i])

YEARMODA
2000-01-01    76.0
2000-01-02    77.1
2000-01-03    76.0
2000-01-04    77.3
2000-01-05    76.9
Name: TEMP, dtype: float64
Min: 69.000000, Max: 95.100000
[0.26819923]
[0.31034483]
[0.26819923]
[0.31800766]
[0.30268199]
[76.]
[77.1]
[76.]
[77.3]
[76.9]

In [41]:
ser1 = DataFrame(series)

In [46]:
ser1['normalized']= scaler.transform(values)
ser1['log']=np.log(values)
ser1['loglog']=np.log(np.log(values))
ser1.head(4)

            TEMP  normalized       log    loglog
YEARMODA
2000-01-01  76.0    0.268199  4.330733  1.465737
2000-01-02  77.1    0.310345  4.345103  1.469050
2000-01-03  76.0    0.268199  4.330733  1.465737
2000-01-04  77.3    0.318008  4.347694  1.469646

In [48]:
real=np.exp(np.exp(1.469050))
real

77.10015798426569

In [68]:
def norm_series(series):
    y = series.resample('MS').mean()
    values2 = y.values
    values2 = values2.reshape((len(values2), 1))
    # train the normalization
    scaler2 = MinMaxScaler(feature_range=(-1, 1))
    scaler2 = scaler2.fit(values2)
    ser2 = DataFrame(y)
    ser2['normalized']= scaler2.transform(values2)
    ser2['log']=np.log(values2 )
    ser2['loglog']=np.log(np.log(values2 ))
    ser2.head(4)
    return ser2

In [69]:
ser2=norm_series(series)

In [70]:
ser2['TEMP'][0]

77.86666666666665

In [71]:
ser2['log'][0]

4.354997962285962

In [72]:
ser2['normalized'][0]

-0.885479329091293

In [73]:
ser2['loglog'][0]

1.4713241424021666